hardware/.DS_Store
hardware/dallas-controller/fp-info-cache
hardware/dallas-controller/~dallas-controller.kicad_pcb.lck
hardware/dallas-controller/~dallas-controller.kicad_sch.lck
/hardware/dallas-controller/dallas-controller-backups
